body {
    background-color: #cccccc;
    font-family: arial, helvetica, sans-serif;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;
}

.submit {
    border-radius: 3px;
}

.inputForm {
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 15ch;
}